<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/BookShop.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BookShop</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="Customer" asp-controller="Home" asp-action="Index">Home Page</a>
                            <span class="visually-hidden">(current)</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="Customer" asp-controller="Home" asp-action="Privacy">About</a>
                        </li>
                        @if (User.IsInRole(SD.Role_Admin))
                        {

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Content Managment
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="Category" asp-action="Index">Category</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="Product" asp-action="Index">Product</a>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>

                                </ul>
                            </li>
                        }

                    </ul>



                </div>
            </div>
        </nav>


        <nav class="navbar navbar-expand-lg bg-light custom-navbar" data-bs-theme="light">
            <div class="container-fluid">



                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Category
                        </a>
                        <ul class="dropdown-menu multi-column columns-4">
                            <div class="row">
                                <div class="col">
                                    <a class="dropdown-item" href="javascript:void(0);" onclick="loadProduct('Action')">
                                        <img src="~/images/categoryicons/006-gun.png" class="category-icon"> Action
                                    </a>
                                    <a class="dropdown-item" href="javascript:void(0);" onclick="loadProduct('SciFi')">
                                        <img src="~/images/categoryicons/005-abduction.png" class="category-icon"> SciFi
                                    </a>
                                    <a class="dropdown-item" href="javascript:void(0);" onclick="loadProduct('History')">
                                        <img src="~/images/categoryicons/007-ancient-scroll.png" class="category-icon"> History
                                    </a>
                                    <a class="dropdown-item" href="javascript:void(0);" onclick="loadProduct('Crime')">
                                        <img src="~/images/categoryicons/004-crime-investigation.png" class="category-icon"> Crime
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="dropdown-item" href="javascript:void(0);" onclick="loadProduct('Biography')">
                                        <img src="~/images/categoryicons/008-biography.png" class="category-icon"> Biography
                                    </a>
                                    <a class="dropdown-item" href="javascript:void(0);" onclick="loadProduct('Fantasy')">
                                        <img src="~/images/categoryicons/003-dragon.png" class="category-icon"> Fantasy
                                        </>
                                        <a class="dropdown-item" href="javascript:void(0);" onclick="loadProduct('Fiction')">
                                            <img src="~/images/categoryicons/009-book.png" class="category-icon"> Fiction
                                        </a>
                                        <a class="dropdown-item" href="javascript:void(0);" onclick="loadProduct('Horror')">
                                            <img src="~/images/categoryicons/002-zombie.png" class="category-icon"> Horror
                                        </a>
                                </div>
                                <div class="col">
                                    <a class="dropdown-item" href="javascript:void(0);" onclick="loadProduct('Romance')">
                                        <img src="~/images/categoryicons/010-hearts.png" class="category-icon"> Romance
                                    </a>
                                    <a class="dropdown-item" href="javascript:void(0);" onclick="loadProduct('Science')">
                                        <img src="~/images/categoryicons/001-atom.png" class="category-icon"> Science
                                    </a>
                                    <a class="dropdown-item" href="javascript:void(0);" onclick="loadProduct('Thriller')">
                                        <img src="~/images/categoryicons/001-thriller.png" class="category-icon"> Thriller
                                    </a>
                                    <a class="dropdown-item" href="javascript:void(0);" onclick="loadProduct('Sport')">
                                        <img src="~/images/categoryicons/005-sports.png" class="category-icon"> Sport
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="dropdown-item" href="javascript:void(0);" onclick="loadProduct('Travel')">
                                        <img src="~/images/categoryicons/004-plane.png" class="category-icon"> Travel
                                    </a>
                                    <a class="dropdown-item" href="javascript:void(0);" onclick="loadProduct('Music')">
                                        <img src="~/images/categoryicons/003-musical-notes.png" class="category-icon"> Music
                                    </a>
                                    <a class="dropdown-item" href="javascript:void(0);" onclick="loadProduct('Religion')">
                                        <img src="~/images/categoryicons/002-cross.png" class="category-icon"> Religion
                                    </a>
                                    <a class="dropdown-item" href="javascript:void(0);" onclick="loadProduct('Childrens')">
                                        <img src="~/images/categoryicons/001-toys.png" class="category-icon"> Childrens
                                    </a>
                                </div>
                            </div>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <i class="bi bi-person-fill profile-icon"></i>
                        <div class="profile-menu">
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <a class="menu-link" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                                <a class="menu-link" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
                            }
                            <a id="manage" class="menu-link" asp-area="Identity" asp-page="/Account/Manage/Index">My Account</a>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <button id="logout" type="submit" class="menu-link btn btn-link border-0 profile-menu-item">Logout</button>
                                </form>
                            }
                        </div>
                    </li>
                    <li class="nav-item position-relative">
                        <a asp-area="Customer" asp-controller="Cart" asp-action="Index">
                            <i class="bi bi-cart-fill card-icon"></i>
                            @if (TempData["TotalItemsInCart"] != null)
                            {
                                <span class="badge badge-pill badge-danger text-dark position-absolute top-0 start-100 translate-middle">
                                    @TempData["TotalItemsInCart"]
                                </span>
                            }
                        </a>
                    </li>




                </ul>

            </div>
        </nav>


    </header>




    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - BookShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.tiny.cloud/1/73aiauzwcdykvenqcz6q151jcv8ex8gf50prwlxanpr5wff7/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="//cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>
